#personal-bio {
	background-color: white;
	color: black;
}

.about-wrapper {
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
	width: 85vw;
	margin: 0 auto;
	padding-top: calc(15px + (50 - 15) * ((100vw - 300px) / (1600 - 300)));
}
.blob-container {
	text-align: center;
	margin-top: -(calc(15px + (30- 15) * ((100vw - 300px) / (1600 - 300))));
	.blob-svg {
		width: 80% !important;
		height: calc(100% + 20px);
	}

	#blob-path {
		animation: float 4s ease-in-out infinite;
	}
}
.about-container {
	text-align: center;
	margin-top: 60px;
	.about-title {
		z-index: 10;
		margin-bottom: 40px;
		position: relative;
		h2 {
			font-weight: 700;
		}
	}
	.about-text {
		p {
			text-align: left;
		}
	}
}

.about-button {
	background-color: white;
	color: black;
	padding: 10px;
	margin-bottom: 20px;
	offset: none;
	border: 1 solid black;
}
.about-button-active {
	border-left: 4px solid black;
	border-right: 1px solid black;
	border-top: 1x solid black;
	border-bottom: 4px solid black;
	transition: border 0.2s ease-in-out;
}
.small-rectangle {
	z-index: -5;
	/* Rectangle 5 */
	position: absolute;
	width: 170px;
	height: 20px;
	left: 40%;
	top: 25px;
	background: #fef701;
	mix-blend-mode: hard-light;
	opacity: 0.5;
}
/* Ellipse 8 */
.small-ellipsis {
	position: absolute;
	top: -20px;
	left: 80%;
	border-radius: 50%;
	width: 34px;
	height: 34px;

	background: #fef701;
	mix-blend-mode: hard-light;
	opacity: 0.5;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(40px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media (max-width: 600px) {
	.section-container {
	}

	.about-wrapper {
		padding: 0px;
		width: 100%;
	}
	#personal-bio {
		width: 100%;
	}

	.blob-container {
		margin-top: 60px;
		.blob-svg {
			width: 20%;
		}

		#blob-path {
		}
	}
	.about-container {
		.about-text {
			p {
				font-size: 16px;
			}
		}
	}
}
