.banner-container {
	margin: 0;
	padding: 30px 70px;
	min-height: 90vh;
	height: auto;
	background-color: black;
	color: white;
	align-items: center;
}

.header-container {
	display: flex;
	padding: 20px 0px;
	justify-content: space-between;
	align-items: center;

	.nav-links {
		display: flex;
		font-family: 'VT323';
		font-size: 30px;
		a {
			padding: 20px;
			text-decoration: none;
			color: white;
		}
	}
}

.banner-content {
	padding-left: calc(10px + (30 - 10) * ((100vw - 300px) / (1600 - 300)));
	padding-right: calc(10px + (30 - 10) * ((100vw - 300px) / (1600 - 300)));

	margin-top: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap-reverse;
	h1 {
		font-weight: bold;
	}

	.banner-text-container {
		margin-bottom: 30px;
		width: 90%;
		h1 {
			font-size: calc(22px + (64 - 22) * ((100vw - 300px) / (1600 - 300)));
		}
	}

	.banner-photo {
		text-align: center;
		img {
			width: 400px;
			margin-top: -400px;
		}
		.gradient-square {
			margin-left: 50px;
		}
	}
}

button {
	display: inline-block;
	border: none;
	padding: 10px 20px;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
	background: #e5ff00;
	color: black;
	font-family: sans-serif;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

@media (max-width: 600px) {
	.nav-links {
		a {
			display: none;
		}
	}
	.banner-container {
		margin: 0;
		padding: 0px;
	}
	.banner-content {
		width: 100%;
	}
	.banner-photo {
		svg {
			max-width: 250px;
		}
		text-align: center;
		img {
			max-width: 250px;
			margin-top: -400px;
		}
		.gradient-square {
			margin-left: 50px;
		}
	}
}

menu {
}
