.banner-container {
	margin: 0 auto;
	padding: 30px 70px;
	min-height: 90vh;
	height: auto;
	background-color: black;
	color: white;
	align-items: center;
}

.banner-wrapper {
	width: 80vw;
	margin: 0 auto;
}

.banner-content {
	margin-top: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap-reverse;
	h1 {
		font-weight: bold;
	}

	.banner-text-container {
		margin-bottom: 30px;
		width: 90%;
		h1 {
			font-size: calc(26px + (64 - 26) * ((100vw - 300px) / (1600 - 300)));
			margin-bottom: 40px;
		}
		p {
			margin: 0px;
			font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
		}
	}

	.banner-photo {
		text-align: right;
		img {
			width: 400px;
			margin-top: -400px;
		}
		.gradient-square {
			margin-right: -20px !important;
		}
	}
}

.ponto-virgula {
	color: yellow;
}

.cta-banner {
	transition: padding 1s ease-in-out;
	display: inline-block;
	border: none;
	padding: 10px 20px;
	margin: 0;
	margin-top: 30px;
	text-decoration: none;
	font-weight: bold;
	background: #fcf01f;
	color: black;
	font-family: sans-serif;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	&:hover {
		transition: padding 1s ease-in-out;
		text-decoration: none;
		color: black;
		padding: 10px 25px;
	}
}

@media (max-width: 1000px) {
	.banner-photo {
		text-align: center !important;
		padding-bottom: 30px;
		img {
			width: 500px;
			margin-top: -400px;
		}
		.gradient-square {
			margin-left: 20px;
		}
	}
}

@media (max-width: 600px) {
	.banner-container {
		margin: 0;
		padding: 0px;
		.banner-wrapper {
			margin-top: -60px;
		}
	}
	.header-container {
		padding: 30px 0px;
		padding-bottom: 0px;
	}

	.banner-content {
		width: 100%;
		padding: 0px 0px 40px 0px;
		margin-top: 0px;

		.banner-text-container {
			padding: 0px;
			text-align: center;
			h1 {
				text-align: left;
				margin-bottom: 20px;
			}
			p {
				text-align: left;
			}
			.cta-banner {
				text-align: center;
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}

	.banner-photo {
		margin-top: 10%;

		padding-bottom: 0px;
		svg {
			max-width: 70vw;
		}
		text-align: center;
		img {
			max-width: 70vw;
			margin-top: -400px;
		}
		.gradient-square {
			margin-left: 20px !important;
		}
	}
}
