#contact-section {
	background-color: white;
	color: black;
	margin: 0 auto;
}

.social-container {
	margin-left: -10px;
	margin-bottom: 10px;

	.social-links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.form-title {
		text-align: center;
		padding-bottom: 50px;
	}
	#github-link {
		margin-left: -2px;
	}
	a {
		text-decoration: none;
		color: black;
		.social-icons {
			margin-right: 15px;
			color: black;
			font-size: 30px;
		}
		&:after {
			content: ""; /* This is necessary for the pseudo element to work. */
			display: block; /* This will put the pseudo element on its own line. */
			width: 0%; /* Change this to whatever width you want to have before hover. */
			padding-top: 0px; /* This creates some space between the element and the border. */
			border-bottom: 2px solid black; /* This creates the border. Replace black with whatever color you want. */
			transition: 0.5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
		}
		&:hover {
			cursor: pointer;
			&:after {
				width: 100px; /* This will be the new width of your border when on hover */
			}
		}
	}
}

.contacts-container {
	display: flex;
	justify-content: space-around;
	width: 80vw;
	margin: 150px auto;
}

.form-container {
	width: 50vw;
	margin-left: -25px;
}

.form-title {
	text-align: left;
	margin-bottom: 30px;
}

.form {
	display: block;
	width: 85%;

	border-radius: 10px;
	color: black;
	.form-labels {
		font-family: "Ubuntu";
		font-weight: bold;
	}
	.form-message {
		width: 100%;
		font-size: 18px;
		border: 0.3px solid rgb(94, 94, 94);
	}
	.form-email {
		width: 100%;
		height: 40px;
		margin-bottom: 20px;
		font-size: 18px;
		border: 0.3px solid rgb(94, 94, 94);
	}
	.form-button {
		border: none;
		padding: 10px 20px;
		background-color: #fcf01f;
		color: black;
		font-family: "Ubuntu";
		font-weight: bold;
		margin-top: 30px;
		transition: all 0.4s ease-in-out;
		&:hover {
			transform: scale(1.07);
			transition: all 0.4s ease-in-out;
		}
	}
}

@media (max-width: 1000px) {
	.form-title {
		text-align: center;
		width: 100%;
	}
	.social-container {
		margin-top: 40px;
		padding-left: 0px;
		.form-title {
			margin-left: -10px;
		}
	}

	#social-title {
		display: none;
	}
	.contacts-container {
		flex-direction: column;
	}

	.form {
		display: block;
		width: 80vw;
		.form-labels {
		}
		.form-message {
			font-size: 16px;
		}
		.form-email {
			font-size: 16px;
			width: 70%;
		}
		.form-button {
		}
	}
}

@media (max-width: 600px) {
	.form {
		display: block;
		width: 80vw;
		padding: 5px;
		.form-labels {
			font-size: 16px;
		}
		.form-message {
			font-size: 16px;
		}
		.form-email {
			font-size: 16px;
			width: 100%;
		}
		.form-button {
		}
	}
}
