#contact-section {
}

.form-title {
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

.services-title {
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

.form-description {
	font-size: 18px;
	margin: 20px;
	margin: 0 auto;
	width: 70vw;
}

.services {
	text-align: left;
	padding: 20px;
}

input {
	border-radius: 5px;
}
textarea {
	border-radius: 5px;
}

.form {
	display: block;
	width: 70vw;
	margin: 60px auto;
	background: rgba(240, 240, 240, 0.61);
	padding: 30px;
	border-radius: 10px;
	.form-labels {
		font-family: 'Ubuntu';
		font-weight: bold;
	}
	.form-message {
		width: 100%;
		font-size: 18px;
		border: 0.3px solid rgb(94, 94, 94);
	}
	.form-email {
		width: 40%;
		height: 40px;
		margin-bottom: 20px;
		font-size: 18px;
		border: 0.3px solid rgb(94, 94, 94);
	}
	.form-button {
		border: none;
		padding: 10px 20px;
		background-color: #fcf01f;
		color: black;
		font-family: 'Ubuntu';
		font-weight: bold;
		margin-top: 30px;
		transition: all 0.4s ease-in-out;
		&:hover {
			transform: scale(1.07);
			transition: all 0.4s ease-in-out;
		}
	}
}

@media (max-width: 1000px) {
	.form {
		display: block;
		width: 80vw;
		.form-labels {
		}
		.form-message {
			font-size: 16px;
		}
		.form-email {
			font-size: 16px;
			width: 70%;
		}
		.form-button {
		}
	}
}

@media (max-width: 600px) {
	.form-description {
		width: 80vw;
		font-size: 16px;
	}
	.form {
		display: block;
		width: 80vw;
		.form-labels {
		}
		.form-message {
			font-size: 16px;
		}
		.form-email {
			font-size: 16px;
			width: 100%;
		}
		.form-button {
		}
	}
}
