#portfolio-section {
	background-color: black;
	height: auto;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 40px;
	color: white;
}

.work-title-container {
	padding-top: 80px;
	z-index: 10;
	padding-bottom: 70px;
	position: relative;
	margin: 0 auto;
	width: 50%;

	//the rectangle and little circle are defined in about.scss
	.portfolio-shape {
		margin-top: 80px;
	}
}

.display-none {
	display: none;
	opacity: 0;
	transition: visibility 0s, opacity 90, 5s linear;
}
.display-show {
	display: block;
	visibility: visible;
	opacity: 1;
}

.work-list {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 50px;
}

.job-container {
	transition: transform 0.7s ease-in-out;
	padding-bottom: 60px;
	padding: 30px 0px;
	flex-wrap: wrap;
	position: relative;
	margin: 0px 40px;

	.job-header {
		display: flex;
		justify-content: space-between;
		padding: -4px;

		cursor: pointer;
		&:hover {
			color: yellow;
		}
	}
	.job-image {
		margin: 0 auto;
		display: block;
		width: 100%;
		box-shadow: 5px 5px 1px rgba(255, 255, 0, 0.27);
	}
	.job-content-container {
		margin: 0 auto;
		height: auto;
		text-align: left;
		font-size: 16px;
		.job-name {
			margin-top: 30px;
			font-size: 30px;
			text-decoration: none;
			font-family: "Ubuntu";
			color: white;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.job-technologies {
			font-weight: bold;
		}
		.job-description {
			margin-bottom: 20px;
		}
		.site-button {
			position: absolute;
			bottom: 0;
			transition: padding 1s ease-in-out;
			padding: 12px 25px;
			background-color: #fcf01f;
			text-decoration: none;
			color: black;
			font-weight: 500;
			margin-bottom: 20px;
			&:hover {
				padding-left: 50px;
				padding-right: 0px;
				transition: background-color 1s ease-in-out;
				transition: padding 1s ease-in-out;
				background-color: black;
				color: white;
				font-weight: bold;
			}
		}
		.site-button-github {
			left: 120px;
		}
	}
}

.arrow-collapse {
	font-size: 30px;
	text-align: center;
	padding-top: 2px;
}

@media (max-width: 600px) {
	.work-title-container {
		width: 100%;
	}
	.work-list {
		grid-template-columns: 1fr;
		width: 95%;
	}

	.job-container {
		padding-bottom: 30px;
		border-bottom: solid 1px rgba(211, 211, 211, 0.423);

		.job-content-container {
			margin-bottom: 20px;
			min-width: 100% !important;
			margin-top: 20px;
			.job-header {
				h3 {
					margin-top: 10px;
					font-size: 25px !important;
					text-align: center;
				}
			}

			p {
				font-size: 15px;
			}
		}
		.job-image {
			min-width: 100% !important;
			width: 100% !important;
		}
	}
}

@media (max-width: 900px) {
	.work-list {
		grid-template-columns: 1fr;
	}
}
