#portfolio-section {
	background-color: black;
	height: auto;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 120px;
	margin-bottom: 40px;
	color: white;
}

.portfolio-title {
	padding-top: 40px;
	padding-bottom: 40px;
}

.job-container {
	display: flex;
	justify-content: space-around;
	// min-width: 900px;
	flex-wrap: wrap;
	margin: calc(30px + (80 - 30) * ((100vw - 300px) / (1600 - 300)));
	.job-image {
		display: block;
		max-width: 40%;
		max-height: 40%;
		min-width: 500px;
		width: auto;
		height: auto;
	}
	.job-content-container {
		display: flex;
		flex-direction: column;
		min-width: 500px;
		width: 50vw;
		height: 100%;
		text-align: left;
		font-size: 18px;
		.job-name {
			font-size: 30px;
			text-decoration: none;
			font-family: 'Ubuntu';
			color: white;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.job-technologies {
			font-weight: bold;
		}
		.site-button {
			align-self: self-end;
			width: 100px;
			transition: padding 1s ease-in-out;
			padding: 12px 25px;
			background-color: #fcf01f;
			text-decoration: none;
			color: black;
			font-weight: 500;
			&:hover {
				padding-left: 0px;
				padding-right: 25px;
				transition: background-color 1s ease-in-out;
				transition: padding 1s ease-in-out;
				background-color: black;
				color: white;
				font-weight: bold;
			}
		}
	}
}
.job-even {
	display: flex;
	flex-direction: row-reverse;
	.job-content-container {
	}
}

@media (max-width: 600px) {
	.job-content-container {
		min-width: 100% !important;
		.site-button {
		}
		p {
			font-size: 15px;
		}
	}
	.job-image {
		min-width: 100% !important;
		width: 100% !important;
	}
}
